<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bluetooth-connect">
      <ion-icon name="bluetooth"></ion-icon>
      <ion-label>Bluetooth</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exercise">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Exercise</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="help">
      <ion-icon name="help-circle"></ion-icon>
      <ion-label>Help</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>