<h2 class="display-4">Client Info</h2>

<form #formData='ngForm' (ngSubmit)="assignExercise(formData)">
    
  <input type="text" placeholder="Exercise Name" (ngModel)="exerciseName" name="exerciseName" class="txt" required>
  <input type="number" placeholder="Time" (ngModel)="time" name="time" class="txt" required>
  
  <button type="submit" class="btn btn-primary">Assign New Exercise</button>
</form>

<div class="list-group" *ngFor="let user of user">
    <ul class="list-group-item">
        Name: {{ user.FirstName }} {{ user.Surname }}
    </ul>
    <ul class="list-group-item">
        Address: {{ user.AddressLine1 }} {{ user.AddressLine2 }}
    </ul>
</div>

<h3>Exercises</h3>

<ul class="list-group" *ngFor='let userExercise of userExercise'>
    <li class="list-group-item">
        Exercise Name: {{ userExercise.ExerciseName }},
        Time Taken: {{ userExercise.TimeTaken }}
    </li>
</ul>

<ng-template #loading>
    Loading content...
</ng-template>

<div id="modal-container" class="hidden"></div>
<div id="overlay" (click)="removeModal()" class="hidden"></div>