<h2 class="display-4">Login</h2>
<span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

<hr>

<form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="form-group col-md-8">
      <label for="inputEmail">Email Address</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" (ngModel)="email" name="email"
        required>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="form-group col-md-8">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" (ngModel)="password" name="password"
        required>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <button type="submit" [disabled]="!formData.valid" class="btn btn-primary col-md-8">Login</button>
    <div class="col-md-2"></div>
  </div>
</form>