<div class="row">
  <div class=col-md-8>
    <h2 class="display-4">User Profile</h2>
  </div>
  <div class="col-md-4 float-right">
    <button (click)="logOut()" class="btn btn-primary">Sign Out</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <div class="list-group">
      <ul class="list-group-item">
        Name: 
      </ul>
      <ul class="list-group-item">
        Address:
      </ul>
      <ul class="list-group-item">
        Phone Number: 
      </ul>
    </div>
  </div>
</div>